# SF Salaries Exercise

**Import pandas as pd.**

In [ ]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [ ]:
sal = pd.read_csv('/Salaries.csv')

**Check the head of the DataFrame.**

In [ ]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

**Use the .info() method to find out how many entries there are.**

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9854 entries, 0 to 9853
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                9854 non-null   int64
 1   EmployeeName      9854 non-null   object
 2   JobTitle          9853 non-null   object
 3   BasePay           9853 non-null   float64
 4   OvertimePay       9853 non-null   float64
 5   OtherPay          9853 non-null   float64
 6   Benefits          0 non-null      float64
 7   TotalPay          9853 non-null   float64
 8   TotalPayBenefits  9853 non-null   float64
 9   Year              9853 non-null   float64
 10  Notes             0 non-null      float64
 11  Agency            9853 non-null   object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 1000.9+ KB

**What is the average BasePay ?**

In [ ]:
sal['BasePay'].mean()

112618.25130112655

**What is the highest amount of OvertimePay in the dataset ?**

In [ ]:
sal['OvertimePay'].max()

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [ ]:
sal.loc[sal['EmployeeName']=='JOSEPH DRISCOLL', 'JobTitle'].values[0]

'CAPTAIN, FIRE SUPPRESSION'

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [ ]:
sal.loc[sal['EmployeeName']=='JOSEPH DRISCOLL', 'TotalPayBenefits'].values[0]

270324.91

**What is the name of highest paid person (including benefits)?**

In [ ]:
sal.loc[sal['TotalPayBenefits'].idxmax(), 'EmployeeName']

'NATHANIEL FORD'

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
sal.loc[sal['TotalPayBenefits'].idxmin()]

Id                                 9853
EmployeeName                  TAMI QUAN
JobTitle            AIRPORT ELECTRICIAN
BasePay                        96050.44
OvertimePay                       90.77
OtherPay                         1920.0
Benefits                            NaN
TotalPay                       98061.21
TotalPayBenefits               98061.21
Year                             2011.0
Notes                               NaN
Agency                    San Francisco
Status                              NaN
Name: 9852, dtype: object

**What was the average (mean) BasePay of all employees per year? (2011-2014)**

In [ ]:
data = sal[sal['Year'].between(2011, 2014)]
basepay = data.groupby('Year')['BasePay'].mean()
print(basepay)

Year
2011.0    112618.251301
Name: BasePay, dtype: float64

In [ ]:
sal['Year'].unique()

array([2011.,   nan])

**How many unique job titles are there?**

In [ ]:
sal['JobTitle'].nunique()

473

**What are the top 5 most common jobs?**

In [ ]:
sal['JobTitle'].value_counts().head(5)

JobTitle
REGISTERED NURSE      898
POLICE OFFICER III    727
FIREFIGHTER           718
POLICE OFFICER I      426
POLICE OFFICER II     341
Name: count, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [ ]:
sal[sal['Year']==2013]['JobTitle'].value_counts()[lambda x:x==1].count()

0

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [ ]:
sal[sal['JobTitle'].str.contains('Chief', case=False, na=False)].shape[0]

157

**Bonus: Is there a correlation between length of the Job Title string and Salary?**

In [ ]:
sal.assign(JobTitleLength=sal['JobTitle'].str.len())[['JobTitleLength', 'TotalPay']].corr().loc['JobTitleLength', 'TotalPay']

0.12019761329025792

# Great Job!